#categoria-filtros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
  }
  
  .filtro-btn {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-primaria);
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filtro-btn:hover,
  .filtro-btn.active {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
  }

  #conteudo-categorias {
    margin-top: 20px;
  }
  
  .categoria-conteudo {
    display: none;
    padding: 30px;
    border-radius: 8px;
    background-color: var(--fundo-elemento);
    border: 1px solid var(--borda-sutil);
    box-shadow: var(--sombra-padrao);
  }
  
  .categoria-conteudo h2 {
    font-size: 2.2em;
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--cor-primaria);
  }
  
  .categoria-conteudo h3 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--cor-primaria);
    padding-bottom: 5px;
  }
  
  .categoria-conteudo ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.8;
  }
  
  .categoria-conteudo ul li {
    margin-bottom: 8px;
    font-size: 1.1em; 
  }
  
  .dicas-saude p {
      font-size: 1.1em;
      line-height: 1.7;
  }

  .aviso-importante {
      margin: 50px auto;
      padding: 25px;
      max-width: 900px;
      border: 2px solid #dc3545;
      border-radius: 8px;
      background-color: #f8d7da;
      color: #721c24;
  }
  
  .dark-mode .aviso-importante {
      background-color: #492226;
      border-color: #f5c6cb;
      color: var(--cor-texto-claro);
  }
  
  .aviso-importante h3 {
      margin-top: 0;
      text-align: center;
      color: #721c24;
  }
  
  .dark-mode .aviso-importante h3 {
      color: #f5c6cb;
  }

#referencias {
    margin-top: 60px;
    padding: 30px;
    background-color: var(--fundo-elemento);
    border: 1px solid var(--borda-sutil);
    border-radius: 8px;
    text-align: left;
  }
  
  #referencias h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--cor-primaria);
  }
  
  .referencia-item {
    margin-bottom: 25px;
  }
  
  .referencia-item:last-child {
    margin-bottom: 0;
  }
  
  .referencia-item h3 {
    font-size: 1.3em;
    color: var(--cor-texto);
    border-bottom: 1px solid var(--borda-sutil);
    padding-bottom: 8px;
    margin-bottom: 10px;
  }
  
  .dark-mode .referencia-item h3 {
      color: var(--cor-texto-claro);
  }
  
  .referencia-item p,
  .referencia-item ul {
    font-size: 1em;
    line-height: 1.7;
    color: var(--cor-texto);
    opacity: 0.9;
  }
  
  .referencia-item ul {
    list-style-position: inside;
    padding-left: 10px;
  }